
@{
    ViewBag.Title = "Management";
}

<h2>Survey Management</h2>

<div class="panel panel-default">
    <div class="panel-body">
        text box ricerca
    </div>
    <div class="panel-footer">
        <a class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> Search
        </a>
        <a class="btn btn-default">Show all</a>
        <a class="btn btn-warning">
            <span class="glyphicon glyphicon-plus"></span> New
        </a>
    </div>
</div>

