@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        <img src="~/Content/images/logo_askme_white_400_claims.png" />
    </h1>
    <p class="lead"></p>

    <div class="row">
        <div class="col-sm-6">
            <a href="~/Survey/" class="btn btn-default btn-lg btn-block">

                <span class="glyphicon glyphicon-pencil"></span>
                Take a Survey
            </a>
        </div>
        <div class="col-sm-6">
            <a href="@Url.Action("Index","SurveyManager")" class="btn btn-default btn-lg btn-block">

                <span class="glyphicon glyphicon-briefcase"></span>
                Survey Management
            </a>   
        </div>


    </div>
</div>
